numpy==1.24.3
pandas==2.3.0
scikit-learn==1.7.0
matplotlib==3.10.3
seaborn==0.12.2
jupyterlab==4.4.4
ipykernel==6.29.4
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
scipy>=1.16.0
heartpy==1.2.7